*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif; }

header {
  padding: 3rem;
  display: flex;
  justify-content: space-around; }

.header-nav {
  display: flex; }
