:root{
    --color-primary: grey;
    --color-secondary:#83b9c9;
    --color-secondary-dark: #3469bf;
    --color-secondary-light:#6d93d1;
}

$bp-largest: 75em;
$bp-large: 59.375em;
$bp-medium: 53.75em;
$bp-small: 47.5em;