.header{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list{
        display: flex;
        font-weight: 500;
        list-style-type:none;
    }

    &__item{
        transition: transform .1s;
        &:not(last-child){
            margin-right: 2rem;
        }
        &:hover{
            transform: translateY(-.3rem);
        }
    }
    &__link{
        padding-bottom:.3rem;
        transition: transform .1s;
        &:link,
        &:visited{
            text-decoration: none;
            color: var(--color-primary);
        }
        &:active,
        &:hover{
            color: var(--color-secondary);
            border-bottom: 3px solid var(--color-secondary);
        }
    }
    


}
.confirmation{
    height: 80vh;
    line-height: 2.5;
    display: flex;
    gap: 5rem;


    &__text{
        flex: 0 0 50%;
        align-self: center;
        
        p{
        color: var(--color-primary);
        font-size: 0.9rem;
        }

    }
    &__header{
        line-height: 0.5; 
        margin-bottom: 2rem; 
    }
    &__image{
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }
}

